@model BeeManagerMVC.Models.ProductionSummaryViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Production summary</h1>
    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            Year: <select asp-for="Year" asp-items="Model.Years">
                        <option value="">All</option>
                  </select>

            Product Name: <select asp-for="ProductName" asp-items="Model.Products">
                            <option value="">All</option>
                        </select>

            <input type="submit" value="Filter" />

        </p>
    </form>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Year </th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
        @foreach (var d in Model.ProductionSummary)
        {
            <tr>
                <td>@d.Year</td>
                <td>@d.ProductName</td>
                <td>@d.Quantity</td>
                <td>@d.Unit</td>
            </tr>
        }
    </table>
</div>
